$brand-color: #FFA500;

.text-background {
    background-color: $brand-color;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    justify-content: column;
    background-color: #FFFFFF;
    gap: 20px; */
    padding: 20px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.popular-post {
    font-size: 14px;
    height: auto;
    color: $text-color-in-brand-color;
    background: $brand-color;
    padding: 0 10px 0 10px;
    display: inline-block;
    margin-top: 10px;
}
/*
.left-side {
    display: flex;
    flex-direction: column;
    width: 48%;
} */

.popular-videos {
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    text-align: center;

}

.popular-videos {
    width: 100%;
    max-width: 800px;
    text-align: center;
    
}

.video-container {
   /* background-color: #000;
    color: #fff; */
    height: auto;
    padding: 0 10px 0 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}